@media screen and (max-width:1180px){ /*1348*/
    header{height: 14vh;}
    nav{ flex-direction: column; height: 14vh;}
    .logo img{ margin: 12px 0;}
    .search_bar button{ margin: 0 0 0 .3vw;}
    nav ul{ height:4vh;}
    nav ul li{ padding: 0 9vw;}
    /*.slider{ width: 96vw; margin:0 2vw; padding-top: .5vh;}
    .shifter{ width: 96vw;}*/
    .slider{ width: 98vw; margin:0 1vw; padding-top: .5vh;}
    .shifter{ width: 98vw;}
    .item{ margin: 0 1vw;}
    #spacing-box{ width:90.8vw; }
}
@media screen and (max-width:320px) {
    header{height: 17vh;}
    /* header{height: 19vh;} */
    nav ul{ flex-direction: column; margin-top: 4px;}
    nav ul li{ margin-top: 2px 0;}
    footer{height: 8vh;}
}
@media screen and (max-width:210px) {
    footer p{ margin-left: 20vw;}
}
@media screen and (max-width:150px){
    header{height: 20vh;}
    /* header{height: 23vh;} */
    nav ul{ margin-top: 7px;}
    .search_bar{ width: 80px;}
    footer p{font-size: small; }
}