.flex_allcenter{
    display: flex;  justify-content: center;  align-items: center;}
.search_bar button{
    padding: 5px 10px;  color: white;  background-color: var(--main-bg-color);  border: 2px solid white;
    border-radius: 7px;  cursor: pointer;  margin: 0 27vw 0 .5vw; font-weight: 700;}
main{
    background-color: rgb(243, 237, 237);}
.card hr{ 
    color:rgb(214, 213, 213);}
.lines p{
    text-align: center;}
.slider-btns:hover{
    background-color: rgb(199, 196, 196);}
#div1-slider-shifter{
    border-bottom-right-radius: .4vw;  border-top-right-radius: .4vw; /*margin-right: 91.8vw;*/}
#spacing-box{
    opacity: 0; box-shadow: none; width: 91.3vw;} /*no need of margin between div1-div2 as we introduce spacing box in between
    for responsiveness, this box width varies which sets the dimensions automatically*/
#div2-slider-shifter{
    border-bottom-left-radius: .4vw; border-top-left-radius: .4vw;}
.m1{
    font-weight: bold; text-align: center;}
.m2{
    color: #388e3c; padding-top: 8px; text-align: center;
}
.m3{
    padding-top: 7px;  opacity: .6; text-align: center;
}